

---------------------------------------------

---------------------------------------------

Export_details -- Exports -- Employees

JOIN Export_details d ON e.exp_id = d.exp_id 
JOIN Products p ON p.prod_id = d.prod_id 
---------------------------------------------

-----------------+++++++++++++++----------------

SELECT * FROM Employees m 
JOIN Exports e ON m.emp_id = e.approve_emp_id 
JOIN Export_details d ON d.exp_id = e.exp_id  
JOIN Products p ON p.prod_id = d.prod_id 
WHERE e.exp_id='x0001'


*************Finish request_emp_id

SELECT * FROM Exports e 
JOIN Export_details d ON e.exp_id = d.exp_id 
JOIN Products p ON p.prod_id = d.prod_id 
JOIN Employees m ON d.request_emp_id = m.emp_id
WHERE e.exp_id='x0001'




SELECT * FROM Exports e 
JOIN Export_details d ON e.exp_id = d.exp_id 
JOIN Products p ON p.prod_id = d.prod_id 
JOIN Employees m ON e.approve_emp_id = m.emp_id
WHERE e.exp_id='x0001'

*************Finish approve_emp_id










SELECT * FROM Exports e 
JOIN Export_details d ON e.exp_id = d.exp_id 
JOIN Products p ON p.prod_id = d.prod_id 
JOIN Employees m ON e.approve_emp_id = m.emp_id
JOIN Employees m ON m.emp_id = d.request_emp_id
WHERE e.exp_id='x0001'











---------------------------------------------
---------------------------------------------
// SELECT * FROM Exports e 
JOIN Export_details d ON e.exp_id = d.exp_id 
JOIN Products p ON p.prod_id = d.prod_id 
WHERE e.exp_id='x0001'

//  SELECT * FROM Exports 
LEFT JOIN Export_details ON Exports.exp_id = Export_details.exp_id 
WHERE Exports.exp_id='x0001'

<td class="col-sm-1"><a href="{{ route('export.show',$row->exp_id) }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt">ดูรายละเอียด</span></a></td>
<td class="col-sm-1"><a href="{{ route('export.edit',$row->exp_id) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>แก้ไข</a></td>

<td class="col-sm-1"><form action="{{ route('export.destroy',$row->exp_id) }}" method="post">
@csrf
@method("DELETE")
<button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Delete</button></form></td>





3   table Employees--Export_details--Exportsproduct

SELECT * FROM Employees m JOIN Export_details d ON m.emp_id = d.request_emp_id JOIN Products p ON p.prod_id = d.prod_id WHERE d.exp_id='x0001'





3   table Exports--Employees--Export_details
SELECT * FROM Exports e JOIN Employees m ON e.approve_emp_id=m.emp_id JOIN Export_details d ON d.request_emp_id=m.emp_id WHERE e.approve_emp_id ='e0001' AND d.request_emp_id ='e0003'
